# Byte-compiled / optimized / DLL files
__pycache__
.DS_Store

# Input / output files
*.json
*.txt
*.yml
*.yaml
*.png
*.csv
*.html

# Packaging
build/
*.egg-info/

# Exceptions
!.devcontainer/devcontainer.json
!.github/workflows/*.yml